{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}


<main>
    <div class="container">
        <h2 class="titulo-productos">Nuestros productos</h2>
        {% load humanize %}
        <h1>Productos</h1>
        <div class="grid">
            {% for p in entity %}
            <div>
                <div class="col-12 col-md-3 col-sm-4">
                    <div class="card">
                        {% if p.imagen %}
                        <img src="{{ p.imagen.url }}" alt="imagen producto" class="card-img-top mx-auto img-fluid">
                        {% endif %}
                    </div>
                    <div class="detalle">
                        <h4 class="card-title">{{ p.arte | capfirst }}</h4>
                        <p class="card-text descripcion">{{ p.nombre | title }}</p>
                        <p class="card-text precio">${{ p.precio | intcomma }}</h3>
                            <a href="{% url 'formulario' %}" class="btn btn-primary">Cotizar</a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
        <div>
            {% include 'app/paginator.html' %}
        </div>
</main>

{% endblock %}