<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <title>Ground Zero</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Ground Zero</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Inicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'servicio' %}">Servicio</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link "href="#">Galería</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link " href="formulario.html">Cotización</a>
                        </li>
                    </ul>
                    <a href="inicio.html"><i class="bi bi-person-circle ms-3 " style="font-size: 2rem;"></i> </a>
                </div>
            </div>
        </nav>
        </div>
    </header>
<div class="card md-3" style="max-width: 100%; ">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="{% static 'app/imagenes2/miguel angel final.webp' %}" class="img-fluid rounded-start" alt="..."  width="540px">
      </div>
      <div class="col-md-11">
        <div class="card-body">
          <h4 class="card-title" style="text-transform: uppercase;">DAVID</h4>
          <p class="card-text">Esta escultura fue realizada por nuestra artista Catalina Márquez ,
            fue llamada “David” es una escultura de mármol blanco de 5,17 metros de altura y 5572 kilómetros de masa. 
            David representa al rey David bíblico en el momento previo a enfrentarse con Goliat, representa la naturaleza del hombre, 
            libertad y fuerza para el artista.</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid" style="background-color: black;">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Encuéntranos</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Av.Siempre Viva
                                742</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lunes a
                                Viernes</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">10:00 - 19:00</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Sobre</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preguntas
                                Frecuentes.</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Políticas de
                                Privacidad.</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>Contacto</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Correo Electrónico:
                            groundzero@gmail.com</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Número Teléfono: 
                                223651767</a></li>
                    </ul>
                </div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Suscríbete a nuestro catálogo de arte</h5>
                        <p style="color:#fff ;">Sé el primero en recibir nuestro catálogo de las mejores obras
                            de Chile.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Suscribirme</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p style="color: #fff;">© Ground Zero 2023 , Spa. Todos los derechos reservados.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#">
                            <i class="bi bi-twitter"style="color: antiquewhite;"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-whatsapp"style="color: antiquewhite;"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram" style="color: antiquewhite;"></i></a></li>
                </ul>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>