{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}


<div class="card md-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="{% static 'app/imagenes2/virgen.jfif' %}" class="img-fluid rounded-start" alt="..." width="840px">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h4 class="card-title">LA PIEDAD DE LA VIRGEN</h4>
        <p class="card-text">La Piedad es una escultura realizada por la artista Catalina Márquez,
          que representa a la Virgen María sosteniendo el cuerpo de su hijo, Jesús, después de la crucifixión.
          La obra se encuentra en la Basílica de San Pedro en el Vaticano y es considerada una de las obras maestras más
          famosas de la escultura del Renacimiento.</p>
        <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}