{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}



<div class="card md-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="{% static 'app/imagenes2/mapcuhe.jpg' %}" class="img-fluid rounded-start" alt="..." width="840px">
      </div>
      <div class="col-md-11">
        <div class="card-body">
          <h4 class="card-title">TEJIDOS PUEBLO OPRIGINARIOS</h4>
          <p class="card-text">El conjunto de tejidos realizado por nuestro artista Marco García, 
            es un conjunto de tejidos inspirados en el pueblo originario de Chile que son el pueblo Mapuche,
             realizado de manera artesanal tomando a consideración la cultura, hecho con alto detalles para que sea representativo para su país de origen.</p>
          <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}