{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}
<!doctype html>
<html lang="en">


<div class="card md-3" style="max-width: 100%; ">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="{% static 'app/imagenes2/discogombre.jpeg' %}" class="img-fluid rounded-start" alt="..."width="540px" >
      </div>
      <div class="col-md-11">
        <div class="card-body">
          <h4 class="card-title">DISCÓBOLO</h4>
          <p class="card-text">La escultura creada por Catalina Márquez, captura el momento exacto del lanzamiento del disco. La tensión y la energía que se representan en la figura del atleta son notables,
            y se ha dicho que la escultura captura el ideal de la armonía y el equilibrio de la antigua Grecia.</p>
          <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}