{% extends 'app/base.html' %}

{% block contenido %}

{% load static %}


<div class="card md-3" style="max-width: 100%; ">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="{% static 'app/imagenes2/cofre.jpg' %}" class="img-fluid rounded-start" alt="..." width="840px">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h4 class="card-title" style="text-transform: uppercase;">ARQUETA</h4>
        <p class="card-text">Esta pieza de orfebrería realizada por nuestro artista Mario Galarce, fue llamada “Arqueta”
          es una pieza de que está formada de aliso tallada toscamente, revestida de láminas de oro a la que
          posteriormente se añadieron una cabeza metálica,
          el artista con el tiempo le añadió piedras preciosas (zafiros, ágatas, amatistas…), perlas, camafeos y
          esmaltes así como unos grandes pendientes.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}