{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}



<div class="card md-3" style="max-width: 100%; max-height: 100%;">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="{% static 'app/imagenes2/collar.jfif' %} " class="img-fluid rounded-start" alt="..." width="540px">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h4 class="card-title">TALISMÁN</h4>
        <p class="card-text">Esta pieza de orfebrería realizada por nuestro artista Mario Galarce, fue llamada
          “Talismán” es una pieza de alto lujo por el nivel de detalle de la pieza, está fabricado en oro,
          madera, piedras preciosas(perlas, granates y esmeraldas) y plata.
          Se trata de un relicario colgante con forma de bulbo de peregrinación (también conocido como bulbo de elogio).
        </p>
        <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}