{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}


<div class="card md-3" style="max-width: 100%; ">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="{% static 'app/imagenes2/miguel angel final.webp' %}" class="img-fluid rounded-start" alt="..."
        width="540px">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h4 class="card-title" style="text-transform: uppercase;">DAVID</h4>
        <p class="card-text">Esta escultura fue realizada por nuestra artista Catalina Márquez ,
          fue llamada “David” es una escultura de mármol blanco de 5,17 metros de altura y 5572 kilómetros de masa.
          David representa al rey David bíblico en el momento previo a enfrentarse con Goliat, representa la naturaleza
          del hombre,
          libertad y fuerza para el artista.</p>
      </div>
    </div>
  </div>
  {% endblock %}