{% extends 'app/base.html' %}

{% block contenido %}
 
{% load static %}


<div class="card md-3" style="max-width: 100%; ">
  <div class="row g-0">
    <div class="col-md-8">
      <img src="{% static 'app/imagenes2/Reloj2.jpg' %}" class="img-fluid rounded-start" alt="..." width="840px">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h4 class="card-title" style="text-transform: uppercase;">LA PERSISTENCIA DE LA MEMORIA</h4>
        <p class="card-text">La Persistencia de la Memoria es una pintura surrealista creada por la artista Nayared
          Huenchullan.
          La pintura presenta un paisaje onírico y misterioso, donde los objetos están distorsionados y desafiando la
          lógica de la realidad.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}