{% extends 'app/base.html' %}

{% block contenido %}

{% load static %}


<body class="text-center">
    <main class="form-signin">
        <form id="formulario-form" onsubmit="return validarFormulario()" method="post">
            <img class="mb-4" src="{% static 'app/imagenes2/logo...png' %}" alt="" width="252" height="257"
                style="border-radius: 5rem;">
            <h1 class="h3 mb-3 fw-normal">Ingresa tus datos</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required
                    maxlength="12" minlength="8">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="checkbox mb-3">
                <label class="custom-cursor-default-hover">
                    <input type="checkbox" value="remember-me"> Recuérdame
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
        </form>
    </main>
{% endblock %}
