{% extends 'app/base.html' %}

{% block contenido %}
{% load static %}

{% block js %}
<script>
    function eliminarProducto(id) {
        Swal.fire({

                "title": 'Estas seguro?',
                "text": "No podras cambiarlo!",
                "icon": 'warning',
                "showCancelButton": true,
                "confirmButtonColor": '#3085d6',
                "cancelButtonColor": '#d33',
                "confirmButtonText": 'Si, borralo!'
            })
            .then(function (result) {
                if (result.isConfirmed) {
                    window.location.href = "/eliminar-producto/" + id + "/"
                }
            })
    }
</script>
{% endblock %}


<br><br>
<div class="card">
    <div class="card-body">
        <h2>Listado de Stock</h2>
        <table class="table table-striped table-hover table-responisve-sm">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Escultura</th>
                <th>Stock</th>
                <th>Opciones</th>

            </tr>

            {% for p in entity %}
            <tr>
                <td>{{p.codigo | title}}</td>
                <td>{{p.nombre | title}}</td>
                <td>{{p.precio | title}}</td>
                <td>{{p.arte | title}}</td>
                <td>{{p.stock | title}}</td>
                <td>{%if perms.app.delete_producto%}
                    <a href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">modificar</a>
                    {% endif %}
                    {%if perms.app.change_producto%}
                    <a href="#" onclick="eliminarProducto({{p.id}})" class="btn btn-danger btn-sm">eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div>
            {% include 'app/paginator.html' %}
        </div>


    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>




{% endblock %}